@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Nova+Square&display=swap');

$primary-color: red;
$secondary-color: black;
$tertiary-color: white;
$primary-font: "Kanit";
$secondary-font: "Nova Square";