@use "./_variables.scss" as *;

@use "./buttons"as *;

.default-answer {
    background-color: white;
}

.wrong-answer {
    background-color: red;
}

.correct-answer {
    background-color: green;
}

body {
    background-color: $secondary-color;
}

#header {

    font-family: $primary-font;
    color: $tertiary-color;
    display: flex;
    justify-content: center;
    font-size: 35px;

}

#question {

    color: $tertiary-color;
    font-family: $secondary-font;
    font-size: 20px;
    text-align: center;

}

.score {
    color: $tertiary-color;
    padding: 80px;

    &__title {
        font-family: $primary-font;
        display: flex;
        justify-content: center;
    }

    &__container {
        font-family: $secondary-font;
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: $tablet-breakpoint) {

    #header {
        font-size: 60px;
    
    }
    
    #question {
        font-size: 35px;
    
    }
    
    .score {
        padding: 40px;
    
        &__title {
           font-size: 50px;
        }
    
        &__container {
            font-size: 50px;
        }
    }

}

@media screen and (min-width: $laptop-breakpoint) {

    #header {
        font-size: 60px;
    
    }
    
    #question {
        font-size: 35px;
    
    }
    
    .score {
        padding: 5px;
    
        &__title {
           font-size: 50px;
        }
    
        &__container {
            font-size: 50px;
        }
    }

}

